!/.mvn/wrapper/maven-wrapper.jar
!gradle-wrapper.jar
$RECYCLE.BIN/
**/build/
*.DS_Store
*.bak
*.cab
*.class
*.ctxt
*.ear
*.elc
*.iml
*.ipr
*.iws
*.jar
*.launch
*.lnk
*.log
*.msi
*.msm
*.msp
*.pydevproject
*.rar
*.rel
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*_archive
*_flymake.*
*~
*~.nib
.*.sw[a-p]
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.\#*
._*
.apdisk
.buildpath
.cache-main
.cask/
.classpath
.com.apple.timemachine.donotpresent
.cproject
.dir-locals.el
.directory
.externalToolBuilders/
.factorypath
.fseventsd
.fuse_hidden*
.gradle
.gradletasknamecache
.idea/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources/
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/dictionaries
.idea/misc.xml
.idea/replstate.xml
.idea/sonarlint
.idea_modules/
.loadpath
.metadata
.mtj.tmp/
.mvn/timing.properties
.netrwhist
.nfs*
.org-id-locations
.project
.projectile
.recommenders
.recommenders/
.scala_dependencies
.settings/
.springBeans
.sw[a-p]
.target
.tern-project
.texlipse
.worksheet
/.emacs.desktop
/.emacs.desktop.lock
/.rakeTasks
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/out/
/server/
Desktop.ini
Icon
Network Trash Folder
Session.vim
Temporary Items
Thumbs.db
\#*\#
anaconda-mode/
atlassian-ide-plugin.xml
auto-save-list
bin/
buildNumber.properties
cmake-build-debug/
com_crashlytics_export_strings.xml
company-statistics-cache.el
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
dist/
ede-projects.el
ehthumbs.db
ehthumbs_vista.db
fabric.properties
flycheck_*.el
gradle-app.setting
hs_err_pid*
local.properties
modules.xml
places
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
projectile-bookmarks.eld
release.properties
smex-items
tags
target/
tmp/
tramp
url/cache/
